<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Grupos Multimedia</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/grupo-multimedia/new">
        <ion-icon name="add-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <div *ngIf="loading" class="ion-padding ion-text-center">
    <p>Cargando grupos...</p>
  </div>
  
  <ion-list *ngIf="!loading && grupos.length > 0">
    <ion-item-sliding *ngFor="let grupo of grupos">      <ion-item detail [routerLink]="['/grupo-multimedia/' + grupo._id + '/edit']">
        <ion-label>
          <h2>{{ grupo.nombre }}</h2>
          <p>ID: {{ grupo._id }}</p>
          <p *ngIf="grupo.fecha_creacion">Creado: {{ grupo.fecha_creacion | date:'shortDate' }}</p>
        </ion-label>
      </ion-item>
        <ion-item-options side="end">
        <ion-item-option color="primary" [routerLink]="['/grupo-multimedia/' + grupo._id + '/edit']">
          <ion-icon name="create-outline" slot="icon-only"></ion-icon>
        </ion-item-option>        <ion-item-option color="danger" (click)="deleteGrupo(grupo._id || '')">
          <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
          <div>Eliminar</div>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  
  <div *ngIf="!loading && grupos.length === 0" class="ion-padding ion-text-center">
    <ion-icon name="folder-open-outline" style="font-size: 48px; color: var(--ion-color-medium)"></ion-icon>
    <p>No hay grupos multimedia disponibles.</p>
    <ion-button expand="block" routerLink="/grupo-multimedia/new">
      Crear Nuevo Grupo
    </ion-button>
  </div>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!loading && grupos.length > 0">
    <ion-button routerLink="/grupo-multimedia/new" shape="round">
      <ion-icon name="add"></ion-icon>
      Nuevo Grupo
    </ion-button>
  </ion-fab>
</ion-content>